<!DOCTYPE html>
<html>
    <head>
        <title> Similar Vimeo Staff Picks </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    </head>
    <body>

    <div class="container">
    <h1>Input a clip id.</h1>
        <form action="" method="post">
            {{ form.csrf }}

            <div class="form-group">
                {{ form.clip_id.label }} {{ form.clip_id }}
            </div>

            <div class="input submit">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
    <br />
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <div class="alert alert-info">
                    <strong> {{ message[1] }} </strong>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% for clip in clips %}
        <h3>Clip Title: {{ clip.title }}, ID: {{ clip.meta.id }}</h3> <br />
        <img src={{ clip.thumbnail }} width="200" height="200"><br />
        Categories: {{ clip.categories }}<br />
        Caption: {{ clip.caption }} <br />
        <br/>
        <br/>
    {% endfor %}

    </body>
</html>
